.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1312px;
  padding: 0px 24px;
  margin: 0px auto;
  box-sizing: content-box;
}

.root {
  padding: 114px 0 0 0;
  //@media(max-width: 1023px) {
  //  padding: 39px 0 0 0;
  //}
}

.page {
  position: relative;
  z-index: 2;
}