.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1312px;
  padding: 0px 20px;
  margin: 0px auto;
  box-sizing: content-box;

  &._medium {
    max-width: 1271px;
  }
}

.root {
  padding: 114px 0 0 0;
  @media(max-width: 1199px) {
    padding: 84px 0 0 0;
  }
}

.page {
  position: relative;
  z-index: 2;
}

//===========================
.blog-new-articles-bottom {
  .pagination {
    .nav-links {
      .page-numbers {
        transition: 300ms !important;
        cursor: pointer !important;

        &:hover {
          color: $col-orange-dark !important;
        }
      }
    }
  }
}