.link-style {
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  font-weight: 700;
  color: $col-dark-navy;
  transition: 300ms;

  a {
    color: $col-dark-navy;
    transition: 300ms;
  }

  > p {
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: 1200px) {
    &:hover {
      color: $col-orange;

      a {
        color: $col-orange;
      }

      &.submenu {
        svg {
          fill: $col-orange;
        }
      }
    }
  }
}

.btn-cta {
  display: inline-block;
  font-family: "Kamerik";
  font-size: 14px;
  line-height: 14px;
  padding: 12px 30px;
  border-radius: 100px;
  font-weight: 700;
  white-space: nowrap;
  transition: 300ms;

  &._orange {
    color: $col-white;
    background-color: $col-orange;
    border: 2px solid $col-orange;
    @media (min-width: 1200px) {
      &:hover {
        color: $col-orange;
        background-color: $col-white;
      }
    }
  }
}

.btn-cta-v {
  display: inline-block;
  font-size: 20px;
  line-height: 33px;
  font-weight: 700;
  transition: 300ms;
  padding: 16px 32px;
  border-radius: 8px;
  white-space: nowrap;

  &.ico-play-mod {
    position: relative;
    padding: 16px 60px 16px 32px;

    svg {
      position: absolute;
      width: 20px;
      height: 20px;
      fill: $col-white;
      right: 32px;
      top: 50%;
      transform: translateY(-50%);
      transition: 300ms;
    }
  }

  &._orange {
    color: $col-white;
    background-color: $col-orange;
    border: 2px solid $col-orange;
    @media (min-width: 1200px) {
      &:hover {
        color: $col-orange;
        background-color: $col-white;

        &.ico-play-mod {
          svg {
            fill: $col-orange;
          }
        }
      }
    }
  }

  &._white {
    color: $col-orange;
    background-color: $col-white;
    border: 2px solid $col-orange;

    &.ico-play-mod {
      svg {
        fill: $col-orange;
      }
    }

    @media (min-width: 1200px) {
      &:hover {
        color: $col-white;
        background-color: $col-orange;

        &.ico-play-mod {
          svg {
            fill: $col-white;
          }
        }
      }
    }
  }

  @media (max-width: 374px) {
    font-size: 14px;
    line-height: 18px;
  }
}