.link-style {
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  font-weight: 700;
  color: $col-dark-navy;
  transition: 300ms;

  a {
    color: $col-dark-navy;
    transition: 300ms;
  }

  > p {
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: 1200px) {
    &:hover {
      color: $col-orange-dark;

      a {
        color: $col-orange-dark;
      }

      &.submenu {
        svg {
          fill: $col-orange-dark;
        }
      }
    }
  }
}

.btn-cta {
  display: inline-block;
  font-family: "Kamerik";
  font-size: 14px;
  line-height: 14px;
  padding: 12px 30px;
  border-radius: 8px;
  font-weight: 700;
  white-space: nowrap;
  transition: 300ms;
  color: $col-orange-dark;
  background-color: $col-white;

  &._orange {

    border: 2px solid $col-orange-dark;
    @media (min-width: 1200px) {
      &:hover {
        color: $col-white;
        background-color: $col-orange-dark;
      }
    }
  }
}

.btn-cta-v {
  display: inline-block;
  font-size: 20px;
  line-height: 33px;
  font-weight: 700;
  transition: 300ms;
  padding: 16px 32px;
  border-radius: 8px;
  white-space: nowrap;

  &.ico-play-mod {
    position: relative;
    padding: 16px 60px 16px 32px;

    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      right: 32px;
      top: 50%;
      transform: translateY(-50%);
      transition: 300ms;
      background-image: url("../img/play-ico.svg");
      background-size: 20px 20px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &._orange {
    color: $col-white;
    background-color: $col-orange-dark;
    border: 2px solid $col-orange-dark;
    @media (min-width: 1200px) {
      &:hover {
        color: $col-orange-dark;
        background-color: $col-white;

        &.ico-play-mod {
          &:before {
            background-image: url("../img/play-ico-o.svg");
          }
        }
      }
    }
  }

  &._white {
    color: $col-orange-dark;
    background-color: $col-white;
    border: 2px solid $col-orange-dark;

    &.ico-play-mod {
      &:before {
        background-image: url("../img/play-ico-o.svg");
      }
    }

    @media (min-width: 1200px) {
      &:hover {
        color: $col-white;
        background-color: $col-orange-dark;

        &.ico-play-mod {
          &:before {
            background-image: url("../img/play-ico.svg");
          }
        }
      }
    }
  }

  @media (max-width: 374px) {
    font-size: 14px;
    line-height: 18px;
  }
}