.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: $col-white;
  transition: 500ms;
  @media (min-width: 1200px) {
    &.hide {
      background-color: $col-light-blue;
      box-shadow: 0px 1px 25px rgb(0 51 117 / 10%);
    }
  }

  &__content {
    display: flex;
    align-items: center;
    padding: 18px 0;

    &_navigation {
      display: flex;
      align-items: center;
      flex: 0 1 100%;
      justify-content: flex-end;
      padding: 18px 0 0 0;
      transition: 500ms;

      .navigation {
        &__list {
          display: flex;

          &_link {
            margin: 0 0 0 64px;
            padding: 14px 0 32px;

            &.submenu {
              position: relative;
              padding: 14px 19px 32px 0;
              @media (min-width: 1200px) {
                &:hover {
                  .dropdown-menu {
                    opacity: 1;
                    pointer-events: initial;
                  }
                }
              }

              svg {
                position: absolute;
                top: calc(50% - 9px);
                transform: translateY(-50%);
                right: 1px;
                width: 16px;
                height: 16px;
                fill: $col-dark-navy;
                transition: 300ms;
              }
            }

            .dropdown-menu {
              opacity: 0;
              pointer-events: none;
              position: absolute;
              top: 59px;
              left: -15px;
              display: flex;
              background-color: $col-white-dark;
              border-radius: 10px;
              box-shadow: 11px 1px 49px rgba(0, 0, 0, 0.1);
              transition: 300ms;

              &:before {
                content: '';
                position: absolute;
                top: -13px;
                left: 14px;
                border-style: solid;
                border-width: 0 20px 30px 20px;
                border-color: transparent transparent #fbfdff transparent;
              }

              li {
                font-family: 'Kamerik';
                font-size: 14px;
                line-height: 14px;
                font-weight: 700;
                color: $col-dark-navy;
                transition: 300ms;

                a {
                  color: $col-dark-navy;
                  transition: 300ms;
                }

                @media (min-width: 1200px) {
                  li {
                    &:hover {
                      color: $col-orange;

                      a {
                        color: $col-orange;
                      }
                    }
                  }
                }
              }

              > li {
                padding: 39px;
                width: 327px;

                &:first-child {

                  li {
                    margin: 0 0 24px 0;

                    &:last-child {
                      margin: 0;
                    }

                    > a {
                      display: flex;
                      align-items: center;

                      span {
                        width: 32px;
                        height: 32px;
                        margin: 0 12px 0 0;

                        img {
                          width: 100%;
                          height: 100%;
                          object-fit: contain;
                        }
                      }

                      p {
                        small {
                          display: block;
                          text-transform: capitalize;
                          margin: 8px 0 0 0;
                          font-size: 12px;
                          line-height: 14px;
                          font-weight: 400;
                        }
                      }
                    }
                  }
                }

                &:nth-child(2) {
                  background-color: $col-light-blue;
                  width: 257px;

                  li {
                    margin: 0 0 20px 0;
                    font-weight: 400;

                    &:last-child {
                      margin: 0;
                    }
                  }

                  > a {
                    display: inline-block;
                    color: $col-grey-dark;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 400;
                    margin: 24px 0 0 0;
                    border-bottom: 1px solid $col-grey-dark;
                    transition: 300ms;
                    @media (min-width: 1200px) {
                      &:hover {
                        opacity: .5;
                        border-bottom: 1px solid rgba($col-grey-dark, 0.5);

                      }
                    }
                  }

                  strong {
                    display: block;
                    text-transform: uppercase;
                    font-size: 12px;
                    line-height: 12px;
                    font-weight: 700;
                    color: $col-orange;
                    margin: 3px 0 16px;
                  }
                }
              }
            }

          }
        }

        &__cta {
          display: flex;
          margin: 0 0 0 23px;

          &_link {
            position: relative;
            padding: 14px 40px 32px;

            &.ico-svg {
              padding: 14px 40px 32px 23px;
              margin: 0 0 0 40px;

              &:after {
                content: '';
                position: absolute;
                top: calc(50% - 9px);
                left: 0;
                transform: translateY(-50%);
                width: 16px;
                height: 16px;
                background-size: 16px 16px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url("../img/phone.svg");
              }
            }

            &:before {
              content: '';
              position: absolute;
              right: 0;
              top: calc(50% - 9px);
              width: 1px;
              transform: translateY(-50%);
              height: 17px;
              background-color: $col-grey;
            }

            span {
              display: none;
              font-size: 16px;
              line-height: 16px;
              font-weight: 400;
            }
          }

          .btn-cta {
            align-self: flex-start;
            margin: 0 0 0 37px;

            span {
              &:nth-child(2) {
                display: none;
              }
            }
          }
        }

      }
    }

    &_burger {
      display: none;
      position: relative;
      padding: 13px 10px;
      width: 20px;
      height: 14px;
      box-sizing: content-box;
      border-radius: 50%;
      background-color: $col-orange;

      span {
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: $col-white;
        left: 10px;
        border-radius: 1px;
        transition: 500ms;

        &:nth-child(1) {
          top: 13px;
        }

        &:nth-child(2) {
          left: 16px;
          width: 13px;
          top: 50%;
          transform: translateY(-50%);
        }

        &:nth-child(3) {
          top: initial;
          bottom: 13px;
        }
      }
    }

    &_logo {
      flex: 0 0 161px;
      height: 33px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

  }
}

@media (max-width: 1439px) {
  .header {
    &__content {
      &_navigation {
        .navigation {
          &__list {
            &_link {
              margin: 0 0 0 43px;
            }
          }

          &__cta {
            &_link {
              padding: 14px 20px 32px;

              &.ico-svg {
                margin: 0 0 0 20px;
                padding: 14px 20px 32px 23px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .header {
    &.active {
      .header {
        &__content {
          &_navigation {
            transform: initial;
          }

          &_burger {
            span {
              &:nth-child(1) {
                top: 50%;
                transform: translateY(-50%) rotate(-45deg);
              }

              &:nth-child(2) {
                left: -10px;
                opacity: 0;
              }

              &:nth-child(3) {
                bottom: 50%;
                transform: translateY(50%) rotate(45deg);
              }
            }
          }
        }
      }
    }

    .link-style {
      font-size: 28px;
      line-height: 36px;
    }

    &__content {
      justify-content: space-between;
      padding: 22px 0;
      position: relative;

      &:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 84px;
        background-color: $col-light-blue;
        box-shadow: 0px 1px 25px rgb(0 51 117 / 10%);
        z-index: 2;
      }

      &_burger {
        display: block;
        z-index: 3;
      }

      &_logo {
        position: relative;
        z-index: 3;
        flex: 0 0 144px;
        height: 29px;
      }

      &_navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: initial;
        padding: 128px 24px 128px;
        flex: initial;
        max-height: 100%;
        overflow-y: auto;
        background-color: $col-light-blue;
        transform: translateY(-100vh);

        .navigation {
          &__list {
            width: 100%;
            flex-direction: column;
            margin: 0 0 8px 0;

            &_link {
              margin: 0 0 24px 0;
              padding: 0;

              > a {
                display: block;
              }

              &.submenu {
                padding: 0 24px 0 0;

                svg {
                  top: 17px;
                  width: 24px;
                  height: 24px;
                  transition: 500ms;
                }

                &.open{
                  svg{
                    transform: translateY(-50%) rotateX(180deg);
                  }
                }

                .dropdown-menu {
                  position: static;
                  opacity: 1;
                  pointer-events: initial;
                  background-color: $col-light-blue;
                  box-shadow: initial;
                  flex-direction: column;
                  max-height: 0px;
                  overflow: hidden;
                  transition: 500ms;

                  > li {
                    width: 100%;
                    padding: 16px 0 0 0;

                    &:nth-child(2) {
                      width: 100%;
                    }
                  }

                  &:before {
                    display: none;
                  }
                }
              }
            }
          }

          &__cta {
            width: 100%;
            flex-direction: column;
            margin: 0;

            &_link {
              padding: 0;

              &:first-child {
                order: 3;
                margin: 8px 0 0 0;
                text-align: center;

                &:before {
                  display: none;
                }

                span {
                  display: inline-block;
                }

                a {
                  font-size: 16px;
                  line-height: 16px;
                  color: $col-orange;
                  border-bottom: 1px solid $col-orange;
                }
              }

              &.ico-svg {
                border-top: 1px solid $col-grey;
                border-bottom: 1px solid $col-grey;
                padding: 32px 0 32px 30px;
                margin: 0 0 28px 0;

                &:after {
                  width: 24px;
                  height: 24px;
                  background-size: 24px 24px;
                  top: 50%;
                }

                &:before {
                  display: none;
                }
              }
            }

            .btn-cta {
              margin: 0;
              padding: 22px 102px;
              align-self: center;

              span {
                display: none;

                &:nth-child(2) {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 359px) {
  .header {
    &__content {
      &_navigation {
        .navigation {
          &__cta {
            .btn-cta {
              padding: 20px 80px;
            }
          }
        }
      }
    }
  }
}

