@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Kamerik";
  font-display: swap;
  src: url("../fonts/Kamerik105.woff") format("woff"), url("../fonts/Kamerik105.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kamerik";
  font-display: swap;
  src: url("../fonts/Kamerik105Bold.woff") format("woff"), url("../fonts/Kamerik105Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Gotham", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gotham", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1312px;
  padding: 0px 20px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.container._medium {
  max-width: 1271px;
}

.root {
  padding: 114px 0 0 0;
}

.page {
  position: relative;
  z-index: 2;
}

.link-style {
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  font-weight: 700;
  color: #24336A;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.link-style a {
  color: #24336A;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.link-style > p {
  font-size: 14px;
  line-height: 14px;
}

.btn-cta {
  display: inline-block;
  font-family: "Kamerik";
  font-size: 14px;
  line-height: 14px;
  padding: 12px 30px;
  border-radius: 100px;
  font-weight: 700;
  white-space: nowrap;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.btn-cta._orange {
  color: #fff;
  background-color: #E88645;
  border: 2px solid #E88645;
}

.btn-cta-v {
  display: inline-block;
  font-size: 20px;
  line-height: 33px;
  font-weight: 700;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  padding: 16px 32px;
  border-radius: 8px;
  white-space: nowrap;
}

.btn-cta-v.ico-play-mod {
  position: relative;
  padding: 16px 60px 16px 32px;
}

.btn-cta-v.ico-play-mod svg {
  position: absolute;
  width: 20px;
  height: 20px;
  fill: #fff;
  right: 32px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.btn-cta-v._orange {
  color: #fff;
  background-color: #DA5D03;
  border: 2px solid #DA5D03;
}

.btn-cta-v._white {
  color: #DA5D03;
  background-color: #fff;
  border: 2px solid #DA5D03;
}

.btn-cta-v._white.ico-play-mod svg {
  fill: #DA5D03;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #fff;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
}

.header__content_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 18px 0 0 0;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.header__content_navigation .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content_navigation .navigation__list_link {
  margin: 0 0 0 64px;
  padding: 14px 0 32px;
}

.header__content_navigation .navigation__list_link.submenu-item-trigger {
  position: relative;
  padding: 14px 19px 32px 0;
}

.header__content_navigation .navigation__list_link.submenu-item-trigger svg {
  position: absolute;
  top: calc(50% - 9px);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1px;
  width: 16px;
  height: 16px;
  fill: #24336A;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.header__content_navigation .navigation__list_link .dropdown-menu {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 59px;
  left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FBFDFF;
  border-radius: 10px;
  -webkit-box-shadow: 11px 1px 49px rgba(0, 0, 0, 0.1);
          box-shadow: 11px 1px 49px rgba(0, 0, 0, 0.1);
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.header__content_navigation .navigation__list_link .dropdown-menu:before {
  content: "";
  position: absolute;
  top: -13px;
  left: 14px;
  border-style: solid;
  border-width: 0 20px 30px 20px;
  border-color: transparent transparent #fbfdff transparent;
}

.header__content_navigation .navigation__list_link .dropdown-menu li {
  font-family: "Kamerik";
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: #24336A;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.header__content_navigation .navigation__list_link .dropdown-menu li a {
  color: #24336A;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li {
  padding: 39px;
  width: 327px;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:first-child li {
  margin: 0 0 24px 0;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:first-child li:last-child {
  margin: 0;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:first-child li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:first-child li > a span {
  width: 32px;
  height: 32px;
  margin: 0 12px 0 0;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:first-child li > a span img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:first-child li > a p {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:first-child li > a p small {
  display: block;
  text-transform: capitalize;
  margin: 8px 0 0 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:nth-child(2) {
  background-color: #F6FAFE;
  width: 257px;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:nth-child(2) li {
  margin: 0 0 20px 0;
  font-weight: 400;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:nth-child(2) li:last-child {
  margin: 0;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:nth-child(2) > a {
  display: inline-block;
  color: #A6B9CE;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 24px 0 0 0;
  border-bottom: 1px solid #a6b9ce;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:nth-child(2) strong {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: #E88645;
  margin: 3px 0 16px;
}

.header__content_navigation .navigation__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 23px;
}

.header__content_navigation .navigation__cta_link {
  position: relative;
  padding: 14px 40px 32px;
}

.header__content_navigation .navigation__cta_link.ico-svg {
  padding: 14px 40px 32px 23px;
  margin: 0 0 0 40px;
}

.header__content_navigation .navigation__cta_link.ico-svg:after {
  content: "";
  position: absolute;
  top: calc(50% - 9px);
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/phone.svg");
}

.header__content_navigation .navigation__cta_link:before {
  content: "";
  position: absolute;
  right: 0;
  top: calc(50% - 9px);
  width: 1px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 17px;
  background-color: #E3E3E3;
}

.header__content_navigation .navigation__cta_link span {
  display: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.header__content_navigation .navigation__cta .btn-cta {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 0 37px;
}

.header__content_navigation .navigation__cta .btn-cta span:nth-child(2) {
  display: none;
}

.header__content_burger {
  display: none;
  position: relative;
  padding: 13px 10px;
  width: 20px;
  height: 14px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 50%;
  background-color: #E88645;
}

.header__content_burger span {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
  left: 10px;
  border-radius: 1px;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.header__content_burger span:nth-child(1) {
  top: 13px;
}

.header__content_burger span:nth-child(2) {
  left: 16px;
  width: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__content_burger span:nth-child(3) {
  top: initial;
  bottom: 13px;
}

.header__content_logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 161px;
          flex: 0 0 161px;
  height: 33px;
}

.header__content_logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-weight: 700;
  color: #24336A;
}

h1 {
  font-size: 52px;
  line-height: 52px;
}

h2 {
  font-size: 46px;
  line-height: 48px;
}

h3 {
  font-size: 36px;
  line-height: 38px;
}

p {
  font-size: 28px;
  line-height: 42px;
}

p strong {
  font-weight: 700;
}

.hero-block {
  position: relative;
  margin: 0 0 92px 0;
}

.hero-block:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: #24336A;
}

.hero-block .container {
  position: relative;
  z-index: 2;
}

.hero-block__top-content {
  color: #fff;
  text-align: center;
  padding: 89px 0 69px 0;
  letter-spacing: 0.03em;
}

.hero-block__top-content h1 {
  color: #fff;
  margin: 10px 0 0 0;
}

.hero-block__top-content p {
  font-size: 20px;
  line-height: 33px;
}

.hero-block__top-content p strong {
  font-weight: 700;
}

.hero-block__top-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 832px;
  margin: 54px auto 0;
}

.hero-block__top-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 21px;
  line-height: 32px;
}

.hero-block__top-content ul li span {
  width: 32px;
  height: 32px;
  margin: 0 8px 0 0;
}

.hero-block__top-content ul li span img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-block__bottom-content {
  width: 100%;
  background-color: #fff;
  padding: 48px;
  -webkit-box-shadow: -2px 13px 53px rgba(12, 25, 58, 0.06);
          box-shadow: -2px 13px 53px rgba(12, 25, 58, 0.06);
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-block__bottom-content .bottom-content__pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #24336A;
  padding: 50px;
  border-radius: 22px;
  text-align: center;
  width: 443px;
  min-height: 412px;
}

.hero-block__bottom-content .bottom-content__pricing-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 17px 0;
}

.hero-block__bottom-content .bottom-content__pricing-top span {
  width: 38px;
  height: 38px;
  margin: 0 13px 0 0;
}

.hero-block__bottom-content .bottom-content__pricing-top span img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-block__bottom-content .bottom-content__pricing-top strong {
  font-size: 52px;
  line-height: 52px;
  font-weight: 700;
}

.hero-block__bottom-content .bottom-content__pricing-bottom {
  margin: 0 0 64px 0;
}

.hero-block__bottom-content .bottom-content__pricing-bottom small {
  font-size: 28px;
  line-height: 30px;
  font-weight: 700;
}

.hero-block__bottom-content .bottom-content__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  margin: 0 0 0 64px;
}

.hero-block__bottom-content .bottom-content__list p {
  font-size: 28px;
  line-height: 30px;
  font-weight: 700;
  color: #24336A;
  margin: 10px 0 32px 0;
  max-width: 391px;
}

.hero-block__bottom-content .bottom-content__list small {
  display: block;
  font-size: 18px;
  line-height: 23px;
  color: #7B7B7B;
  margin: 0 0 12px 0;
}

.hero-block__bottom-content .bottom-content__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -6px -18px;
}

.hero-block__bottom-content .bottom-content__list ul li {
  position: relative;
  width: calc((100% - 72px) / 2);
  font-size: 21px;
  line-height: 34px;
  color: #1D1D20;
  padding: 0 0 0 30px;
  margin: 6px 18px;
}

.hero-block__bottom-content .bottom-content__list ul li:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 1px;
  width: 24px;
  height: 24px;
  background-image: url("../img/pricing/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}

.logos-list {
  margin: 92px 0 80px 0;
}

.logos-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -25px;
  padding: 70px 0;
}

.logos-list ul li {
  height: 40px;
  width: auto;
  margin: 25px;
}

.logos-list ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.reviews {
  margin: 80px 0 122px;
}

.reviews__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1014px;
  margin: 0 auto;
  padding: 80px 0 0 0;
}

.reviews__comment span {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  height: 240px;
  border-radius: 16px;
  overflow: hidden;
  color: #fff;
}

.reviews__comment span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(270.19deg, rgba(1, 51, 117, 0) 41.32%, #013375 99.84%);
  background: linear-gradient(179.81deg, rgba(1, 51, 117, 0) 41.32%, #013375 99.84%);
}

.reviews__comment span img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__comment span p {
  position: absolute;
  font-size: 16px;
  line-height: 26px;
  bottom: 16px;
  left: 23px;
}

.reviews__comment span strong {
  position: absolute;
  bottom: 42px;
  left: 23px;
  font-size: 18px;
  line-height: 29px;
  font-weight: 700;
}

.reviews__comment > p {
  margin: 0 0 0 61px;
  color: #24336A;
  font-size: 28px;
  line-height: 42px;
}

.reviews__comment > p strong {
  font-weight: 700;
}

.reviews__cards {
  margin: 93px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__cards li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc((100% - 64px) / 4);
  margin: 8px;
  border-radius: 8px;
  background: #F9F8FC;
  padding: 36px 40px 40px;
  min-height: 327px;
}

.reviews__cards li.blue span strong {
  background-image: url("../img/pricing/stars/stars_blue.svg");
}

.reviews__cards li.blue span small {
  color: #4885ED;
}

.reviews__cards li.yellow span strong {
  background-image: url("../img/pricing/stars/stars_yellow.svg");
}

.reviews__cards li.yellow span small {
  color: #F0AD57;
}

.reviews__cards li.green span strong {
  background-image: url("../img/pricing/stars/stars_green.svg");
}

.reviews__cards li.green span small {
  color: #1ABAB8;
}

.reviews__cards li.blue-d span strong {
  background-image: url("../img/pricing/stars/stars_blue-d.svg");
}

.reviews__cards li.blue-d span small {
  color: #044D80;
}

.reviews__cards li img {
  height: 45px;
  -ms-flex-item-align: center;
      align-self: center;
}

.reviews__cards li span {
  margin: auto 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__cards li span strong {
  background-size: 74px 14px;
  background-position: center;
  background-repeat: no-repeat;
  width: 74px;
  height: 14px;
}

.reviews__cards li span small {
  margin: 0 0 0 8px;
  font-size: 14px;
  line-height: 22px;
}

.reviews__cards li > p {
  margin: 26px 0 0 0;
  text-align: center;
  font-size: 18px;
  line-height: 29px;
  color: #24336A;
}

.reviews__cards li > p strong {
  font-weight: 700;
}

.reviews__hand {
  display: none;
}

.stack-up {
  margin: 122px 0 100px;
  padding: 138px 0 150px;
  background: #24336A;
}

.stack-up__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stack-up__content-text {
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  margin: 0 53px 0 0;
}

.stack-up__content-text h2 {
  color: #fff;
  margin: 8px 0 20px 0;
}

.stack-up__content-text .btn-cta-v {
  margin: 60px 0 20px;
}

.stack-up__content-text p {
  max-width: 413px;
  font-size: 21px;
  line-height: 34px;
}

.stack-up__content-text p a {
  font-size: 20px;
  line-height: 33px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.stack-up__content-map {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  border-radius: 3px;
}

.stack-up__content-map img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.stack-up__content-map p {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stack-up__content-map p span {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 20px;
  line-height: 33px;
  font-weight: 700;
  color: #fff;
  padding: 10px 24px;
  border-radius: 60px;
  background: #DA5D03;
  margin: 0 0 14px 0;
}

.stack-up__content-map p span:last-child {
  margin: 0;
}

.stack-up__content-map p:nth-of-type(1) {
  top: -78px;
  right: -21px;
}

.stack-up__content-map p:nth-of-type(2) {
  bottom: -65px;
  left: -54px;
}

.management {
  margin: 100px 0;
}

.management h3 {
  text-align: center;
  max-width: 630px;
  margin: 0 auto;
}

.management ul {
  margin: 36px -16px -25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.management ul li {
  position: relative;
  font-size: 18px;
  line-height: 29px;
  font-weight: 700;
  padding: 20px 30px;
  border-radius: 48px;
  border: 1px solid #DA5D03;
  margin: 25px 16px;
}

.management ul li:before {
  content: "";
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%) translateX(-50%);
      -ms-transform: translateY(50%) translateX(-50%);
          transform: translateY(50%) translateX(-50%);
  left: 50%;
  width: 40px;
  height: 40px;
  background-image: url("../img/pricing/cross.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.questions {
  margin: 167px 0;
}

.questions h2 {
  text-align: center;
  margin: 0 0 35px 0;
}

.questions__list .submenu-questions.open span:before,
.questions__list .submenu-questions.open span:after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
          transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.questions__list .submenu-questions p {
  cursor: pointer;
  position: relative;
  font-size: 23px;
  line-height: 37px;
  font-weight: 700;
  padding: 34px 70px 34px 32px;
  color: #1D1D20;
  border-bottom: 1px solid #E3E3E3;
}

.questions__list .submenu-questions p span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 32px;
  width: 30px;
  height: 30px;
}

.questions__list .submenu-questions p span:before,
.questions__list .submenu-questions p span:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 8px;
  background: #DA5D03;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.questions__list .submenu-questions p span:after {
  content: "";
  height: 30px;
  width: 3px;
}

.questions__list .submenu-questions ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.questions__list .submenu-questions ul li {
  color: #1D1D20;
  padding: 30px 0 30px 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.questions__see {
  margin: 38px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.questions__see p,
.questions__see a {
  font-family: Kamerik;
  cursor: pointer;
  font-size: 20px;
  line-height: 33px;
  font-weight: 700;
  color: #DA5D03;
  text-align: center;
  border-bottom: 1px solid #DA5D03;
}

.questions .accordion__title {
  font-size: 23px !important;
  line-height: 37px !important;
  font-weight: 700 !important;
  color: #1D1D20 !important;
}

.questions .accordion__item {
  border-bottom: 1px solid #E3E3E3 !important;
}

.questions .accordion__header:before,
.questions .accordion__header:after {
  background: #DA5D03 !important;
}

.questions .accordion__body {
  padding: 30px 0 30px 30px !important;
}

.questions .accordion__body p {
  color: #1D1D20 !important;
  font-size: 18px !important;
  line-height: 24px !important;
  font-weight: 400 !important;
  margin: 0 !important;
}

.check-out {
  margin: 83px 0;
}

.check-out__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 0 80px;
}

.check-out__content:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-image: url("../img/pricing/trolley.svg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
}

.check-out__content p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px 0 0;
}

.check-out__content p strong {
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
  color: #24336A;
}

.check-out__content p small {
  font-size: 21px;
  line-height: 34px;
  color: #7B7B7B;
}

.check-out__content .btn-cta-v {
  -ms-flex-item-align: center;
      align-self: center;
}

.book-free .container {
  max-width: 100%;
}

.book-free__content {
  position: relative;
  padding: 81px 20px 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 -20px;
}

.book-free__content:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  opacity: 0.9;
  height: 100%;
  background-image: url("../img/pricing/frame.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}

.book-free__content_top {
  position: relative;
  z-index: 2;
  color: #fff;
  font-family: Kamerik;
  font-size: 46px;
  line-height: 49px;
  max-width: 914px;
  margin: 0 auto 43px;
  text-align: center;
  padding: 92px 0 0 0;
}

.book-free__content_top:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  width: 60px;
  height: 60px;
  background-image: url("../img/pricing/car.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px 60px;
}

.book-free__content_top strong {
  font-size: 52px;
  line-height: 52px;
  font-weight: 700;
}

.book-free__content_bottom {
  position: relative;
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 44px 0 0 0;
}

.book-free__content_bottom span {
  color: #fff;
  font-size: 18px;
  line-height: 29px;
  font-weight: 700;
}

.book-free__content_bottom a {
  position: relative;
  margin: 0 0 0 24px;
  -ms-flex-item-align: center;
      align-self: center;
  color: #fff;
  font-size: 20px;
  line-height: 33px;
  border-bottom: 1px solid #fff;
}

.book-free__content_bottom a:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -24px;
  width: 16px;
  height: 16px;
  background-image: url("../img/pricing/call.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.book-free__content img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.book-free__content .btn-cta-v {
  position: relative;
  z-index: 2;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (min-width: 1200px) {
  .link-style:hover {
    color: #E88645;
  }

  .link-style:hover a {
    color: #E88645;
  }

  .link-style:hover.submenu svg {
    fill: #E88645;
  }

  .btn-cta._orange:hover {
    color: #E88645;
    background-color: #fff;
  }

  .btn-cta-v._orange:hover {
    color: #DA5D03;
    background-color: #fff;
  }

  .btn-cta-v._orange:hover.ico-play-mod svg {
    fill: #DA5D03;
  }

  .btn-cta-v._white:hover {
    color: #fff;
    background-color: #DA5D03;
  }

  .btn-cta-v._white:hover.ico-play-mod svg {
    fill: #fff;
  }

  .header.hide {
    background-color: #F6FAFE;
    -webkit-box-shadow: 0px 1px 25px rgba(0, 51, 117, 0.1);
            box-shadow: 0px 1px 25px rgba(0, 51, 117, 0.1);
  }

  .header__content_navigation .navigation__list_link.submenu-item-trigger:hover svg {
    fill: #E88645;
  }

  .header__content_navigation .navigation__list_link.submenu-item-trigger:hover .dropdown-menu {
    opacity: 1;
    pointer-events: initial;
  }

  .header__content_navigation .navigation__list_link .dropdown-menu li li:hover {
    color: #E88645;
  }

  .header__content_navigation .navigation__list_link .dropdown-menu li li:hover a {
    color: #E88645;
  }

  .header__content_navigation .navigation__list_link .dropdown-menu > li:nth-child(2) > a:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(166, 185, 206, 0.5);
  }
}

@media (max-width: 1439px) {
  .header__content_navigation .navigation__list_link {
    margin: 0 0 0 43px;
  }

  .header__content_navigation .navigation__cta_link {
    padding: 14px 20px 32px;
  }

  .header__content_navigation .navigation__cta_link.ico-svg {
    margin: 0 0 0 20px;
    padding: 14px 20px 32px 23px;
  }
}

@media (max-width: 1199px) {
  .root {
    padding: 84px 0 0 0;
  }

  .header.active .header__content_navigation {
    -webkit-transform: initial;
        -ms-transform: initial;
            transform: initial;
  }

  .header.active .header__content_burger span:nth-child(1) {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }

  .header.active .header__content_burger span:nth-child(2) {
    left: -10px;
    opacity: 0;
  }

  .header.active .header__content_burger span:nth-child(3) {
    bottom: 50%;
    -webkit-transform: translateY(50%) rotate(45deg);
        -ms-transform: translateY(50%) rotate(45deg);
            transform: translateY(50%) rotate(45deg);
  }

  .header .link-style {
    font-size: 28px;
    line-height: 36px;
  }

  .header .link-style > p {
    font-size: 28px;
    line-height: 36px;
  }

  .header__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 22px 0;
    position: relative;
  }

  .header__content:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 84px;
    background-color: #F6FAFE;
    -webkit-box-shadow: 0px 1px 25px rgba(0, 51, 117, 0.1);
            box-shadow: 0px 1px 25px rgba(0, 51, 117, 0.1);
    z-index: 2;
  }

  .header__content_burger {
    display: block;
    z-index: 3;
  }

  .header__content_logo {
    position: relative;
    z-index: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 144px;
            flex: 0 0 144px;
    height: 29px;
  }

  .header__content_navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    padding: 128px 24px 128px;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    max-height: 100%;
    overflow-y: auto;
    background-color: #F6FAFE;
    -webkit-transform: translateY(-100vh);
        -ms-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }

  .header__content_navigation .navigation__list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 8px 0;
  }

  .header__content_navigation .navigation__list_link {
    margin: 0 0 24px 0;
    padding: 0;
  }

  .header__content_navigation .navigation__list_link > a {
    display: block;
    padding: 0 24px 0 0;
  }

  .header__content_navigation .navigation__list_link.submenu-item-trigger {
    padding: 0;
  }

  .header__content_navigation .navigation__list_link.submenu-item-trigger svg {
    top: 17px;
    width: 24px;
    height: 24px;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
  }

  .header__content_navigation .navigation__list_link.submenu-item-trigger.open svg {
    -webkit-transform: translateY(-50%) rotateX(180deg);
            transform: translateY(-50%) rotateX(180deg);
  }

  .header__content_navigation .navigation__list_link.submenu-item-trigger .dropdown-menu {
    position: static;
    opacity: 1;
    pointer-events: initial;
    background-color: #F6FAFE;
    -webkit-box-shadow: initial;
            box-shadow: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    border-radius: initial;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
  }

  .header__content_navigation .navigation__list_link.submenu-item-trigger .dropdown-menu > li {
    width: 100%;
    padding: 16px 0 0 0;
  }

  .header__content_navigation .navigation__list_link.submenu-item-trigger .dropdown-menu > li:first-child li a p small {
    display: none;
  }

  .header__content_navigation .navigation__list_link.submenu-item-trigger .dropdown-menu > li:nth-child(2) {
    width: 100%;
  }

  .header__content_navigation .navigation__list_link.submenu-item-trigger .dropdown-menu:before {
    display: none;
  }

  .header__content_navigation .navigation__cta {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }

  .header__content_navigation .navigation__cta_link {
    padding: 0;
  }

  .header__content_navigation .navigation__cta_link:first-child {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 8px 0 0 0;
    text-align: center;
  }

  .header__content_navigation .navigation__cta_link:first-child:before {
    display: none;
  }

  .header__content_navigation .navigation__cta_link:first-child span {
    display: inline-block;
  }

  .header__content_navigation .navigation__cta_link:first-child a {
    font-size: 16px;
    line-height: 16px;
    color: #E88645;
    border-bottom: 1px solid #E88645;
  }

  .header__content_navigation .navigation__cta_link.ico-svg {
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    padding: 32px 0 32px 30px;
    margin: 0 0 28px 0;
  }

  .header__content_navigation .navigation__cta_link.ico-svg:after {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    top: 50%;
  }

  .header__content_navigation .navigation__cta_link.ico-svg:before {
    display: none;
  }

  .header__content_navigation .navigation__cta .btn-cta {
    margin: 0;
    padding: 22px 102px;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .header__content_navigation .navigation__cta .btn-cta span {
    display: none;
  }

  .header__content_navigation .navigation__cta .btn-cta span:nth-child(2) {
    display: block;
  }

  .reviews__cards li {
    width: calc((100% - 32px) / 2);
  }
}

@media (max-width: 1023px) {
  .hero-block__top-content ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hero-block__top-content ul li {
    margin: 0 0 14px 0;
  }

  .hero-block__top-content ul li:last-child {
    margin: 0;
  }

  .hero-block__bottom-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero-block__bottom-content .bottom-content__pricing {
    width: 100%;
    margin: 0 0 58px 0;
  }

  .hero-block__bottom-content .bottom-content__list {
    margin: 0;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }

  .stack-up {
    margin: 60px 0;
    padding: 75px 0 65px;
  }

  .stack-up__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .stack-up__content-map {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }

  .stack-up__content-map p:nth-of-type(1) {
    top: -21px;
    right: -5px;
  }

  .stack-up__content-map p:nth-of-type(2) {
    left: -5px;
    bottom: -21px;
  }

  .stack-up__content-text {
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    margin: 36px 0 0 0;
  }

  .stack-up__content-text p {
    max-width: initial;
  }

  .questions__list .submenu-questions p {
    padding: 24px 70px 24px 0;
    font-size: 20px;
    line-height: 33px;
  }

  .questions__list .submenu-questions p span {
    right: 0;
  }

  .questions__list .submenu-questions ul li {
    padding: 24px 24px 24px 0;
  }

  .check-out {
    margin: 50px 0;
  }

  .check-out__content {
    padding: 80px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .check-out__content:before {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .check-out__content p {
    text-align: center;
    margin: 0 0 24px 0;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 36px;
    line-height: 38px;
  }

  h2 {
    font-size: 36px;
    line-height: 38px;
  }

  h3 {
    font-size: 28px;
    line-height: 30px;
  }

  .hero-block__top-content {
    padding: 62px 0 45px 0;
  }

  .hero-block__top-content p {
    font-size: 16px;
    line-height: 26px;
  }

  .hero-block__top-content ul {
    margin: 40px auto 0;
  }

  .hero-block__top-content ul li {
    font-size: 16px;
    line-height: 26px;
  }

  .hero-block__bottom-content {
    padding: 16px 16px 32px;
  }

  .hero-block__bottom-content .bottom-content__list ul li {
    font-size: 16px;
    line-height: 26px;
    width: 100%;
  }

  .hero-block__bottom-content .bottom-content__list ul li:before {
    top: 1px;
  }

  .hero-block__bottom-content .bottom-content__list p {
    font-size: 20px;
    line-height: 33px;
    max-width: 100%;
    margin: 0 0 24px 0;
  }

  .hero-block__bottom-content .bottom-content__pricing {
    padding: 34px 24px;
    min-height: initial;
  }

  .hero-block__bottom-content .bottom-content__pricing-top strong {
    font-size: 46px;
    line-height: 49px;
  }

  .logos-list {
    margin: 100px 0 60px;
  }

  .logos-list ul {
    padding: 0;
  }

  .logos-list ul li {
    height: 30px;
  }

  .reviews {
    margin: 60px 0;
  }

  .reviews__comment {
    padding: 60px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .reviews__comment span {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    width: 240px;
    margin: 0 auto;
  }

  .reviews__comment span strong {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .reviews__comment span p {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .reviews__comment > p {
    margin: 40px 0 0 0;
    font-size: 21px;
    line-height: 33px;
    text-align: center;
  }

  .reviews__cards {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: auto;
    margin: 16px 0 0 0;
    padding: 0 0 17px 0;
    width: calc(100% + 21px);
  }

  .reviews__cards::-webkit-scrollbar {
    height: 4px;
  }

  .reviews__cards::-webkit-scrollbar-thumb {
    background: #E88645;
    border-radius: 26px;
  }

  .reviews__cards::-webkit-scrollbar-track {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: rgba(36, 51, 106, 0.2);
  }

  .reviews__cards li {
    width: initial;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 308px;
            flex: 0 0 308px;
  }

  .reviews__hand {
    margin: 82px 0 0 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 32px;
  }

  .reviews__hand:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 27px;
    height: 32px;
    background-image: url("../img/pricing/hand.png");
    background-size: 27px 32px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .stack-up__content-text p {
    font-size: 16px;
    line-height: 26px;
  }

  .stack-up__content-text .btn-cta-v {
    margin: 27px 0 14px;
  }

  .stack-up__content-map p span {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 22px;
  }

  .management {
    margin: 60px 0;
  }

  .management ul {
    margin: 0 -16px -16px;
  }

  .management ul li {
    border: 4px solid #DA5D03;
    padding: 20px 25px;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    margin: 16px;
  }

  .check-out__content p strong {
    font-size: 20px;
    line-height: 33px;
  }

  .check-out__content p small {
    font-size: 16px;
    line-height: 26px;
  }

  .book-free__content_top {
    font-size: 28px;
    line-height: 42px;
  }

  .book-free__content_top strong {
    font-size: 28px;
    line-height: 42px;
  }
}

@media (max-width: 374px) {
  .btn-cta-v {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 359px) {
  .header__content_navigation .navigation__cta .btn-cta {
    padding: 20px 80px;
  }
}