@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Kamerik";
  font-display: swap;
  src: url("../fonts/Kamerik105.woff") format("woff"), url("../fonts/Kamerik105.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kamerik";
  font-display: swap;
  src: url("../fonts/Kamerik105Bold.woff") format("woff"), url("../fonts/Kamerik105Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Gotham", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gotham", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1312px;
  padding: 0px 15px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.page {
  position: relative;
  z-index: 2;
}

.link-style {
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  font-weight: 700;
  color: #24336A;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.link-style a {
  color: #24336A;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.btn-cta {
  font-family: "Kamerik";
  font-size: 14px;
  line-height: 14px;
  padding: 12px 30px;
  border-radius: 100px;
  font-weight: 700;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.btn-cta._orange {
  color: #fff;
  background-color: #E88645;
  border: 2px solid #E88645;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
}

.header__content_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 18px 0 0 0;
}

.header__content_navigation .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content_navigation .navigation__list_link {
  margin: 0 0 0 64px;
  padding: 14px 0 32px;
}

.header__content_navigation .navigation__list_link.submenu {
  position: relative;
  padding: 14px 19px 32px 0;
}

.header__content_navigation .navigation__list_link.submenu svg {
  position: absolute;
  top: calc(50% - 9px);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1px;
  width: 16px;
  height: 16px;
  fill: #24336A;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.header__content_navigation .navigation__list_link .dropdown-menu {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 59px;
  left: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FBFDFF;
  border-radius: 10px;
  -webkit-box-shadow: 11px 1px 49px rgba(0, 0, 0, 0.1);
          box-shadow: 11px 1px 49px rgba(0, 0, 0, 0.1);
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.header__content_navigation .navigation__list_link .dropdown-menu:before {
  content: "";
  position: absolute;
  top: -13px;
  left: 14px;
  border-style: solid;
  border-width: 0 20px 30px 20px;
  border-color: transparent transparent #fbfdff transparent;
}

.header__content_navigation .navigation__list_link .dropdown-menu li {
  font-family: "Kamerik";
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: #24336A;
}

.header__content_navigation .navigation__list_link .dropdown-menu li a {
  color: #24336A;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li {
  padding: 39px;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:first-child {
  width: 346px;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:first-child li {
  margin: 0 0 24px 0;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:first-child li:last-child {
  margin: 0;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:first-child li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:first-child li > a span {
  width: 32px;
  height: 32px;
  margin: 0 12px 0 0;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:first-child li > a span img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:last-child {
  background-color: #F6FAFE;
  width: 257px;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:last-child li {
  margin: 0 0 18px 0;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:last-child li:last-child {
  margin: 0;
}

.header__content_navigation .navigation__list_link .dropdown-menu > li:last-child strong {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: #E88645;
  margin: 3px 0 16px;
}

.header__content_navigation .navigation__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 23px;
}

.header__content_navigation .navigation__cta_link {
  position: relative;
  padding: 14px 40px 32px;
}

.header__content_navigation .navigation__cta_link.ico-svg {
  padding: 14px 40px 32px 23px;
  margin: 0 0 0 40px;
}

.header__content_navigation .navigation__cta_link.ico-svg:after {
  content: "";
  position: absolute;
  top: calc(50% - 9px);
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/phone.svg");
}

.header__content_navigation .navigation__cta_link:before {
  content: "";
  position: absolute;
  right: 0;
  top: calc(50% - 9px);
  width: 1px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 17px;
  background-color: #E3E3E3;
}

.header__content_navigation .navigation__cta .btn-cta {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 0 37px;
}

@media (min-width: 1200px) {
  .link-style:hover {
    color: #E88645;
  }

  .link-style:hover a {
    color: #E88645;
  }

  .link-style:hover.submenu svg {
    fill: #E88645;
  }

  .btn-cta._orange:hover {
    color: #E88645;
    background-color: #fff;
  }

  .header__content_navigation .navigation__list_link.submenu:hover .dropdown-menu {
    opacity: 1;
    pointer-events: initial;
  }
}